@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin:0;
    padding: 0;

}
body{
    font-family: sans-serif;
    background-color: #f1f3f6;

}
:root{
    --primary-color: #2874f0;

}
.container{
    padding: 0 8px;
}
/* header */
header{
    background-color: var(--primary-color);
    height: 56px;

}
.nav-container{
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}
.logo{
    display: flex;
    width: 137px;
    justify-content: flex-end;
}

header .search{
    height:100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
header .search .search-container{
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow:0 2px 4px 0 rgba(0, 0,0,23%);
    display: flex;
   
}
header .search .search-container .search-box{
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;

}
.search-btn{
    width: 36px;
    height:100%;
    padding:0 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px  ;
    cursor: pointer;

}
.login{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.login button{
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);


}
.become-seller{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color:white;
    font-size: 16px;
    font-weight: 500;

}
.more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color:white;
    font-size: 16px;
    font-weight: 500;

}
.more svg{
    margin-left: 8px;
    rotate: -90deg;


}
.cart{
    height: 100%;
    display: flex;
    align-items: center;
    margin:0 20px ;
    color: white;
}
.cart svg{
    margin-right: 8px;
}
.section-1{
    width:100%;
    height:122px;
    background-color: white;
    box-shadow:0 1px 1px 0 rgb(0 0 0/16%);

}
.section-1-container{
    width:1280px;
    margin: 0 auto;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.section-1-item{
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size:14px ;
    gap:4px;
    font-weight: 500;


}
.section-1-item img{
    height: 64px;
    width:64px ;
}
/* section 2 */
.section-2-container{
    margin-top: 16px;
    height:280px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50');
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
}
.section-3-container{
    margin-top:8px;
    height: 122px;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50
    );
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
/* section 4 */
.section-4-container{
    margin-top:8px;
    height:362px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.section-4-offers{
    width: 230px;
    height: 100%;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90
    );
    background-position: bottom;
    background-repeat: no-repeat;
}
.section-4-offers p{
    margin-top:132px ;
    width: 100%;
    font-size: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-4-offers p button{
    margin-top:24px ;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0,0,0 / 20%) ;
    padding: 10px 20px;
    font-size:14px ;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}
.section-4-list{
    height: 100%;
    width: calc(100%-230px);
    display: flex;
    overflow-x: auto;
}
.section-4-item{
    width: 232px;
    height:100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-4-item img{
    max-width: 220px;
    max-height: 220px;
}
.section-4-item-head{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;

}
.section-4-item-price{
    margin-top: 12px;
    font-size: 16px;
    color:#388e3c;

}
.section-4-item-explore{
    opacity: 0.6;
    margin-top: 12px;
    font-weight: 300;
    font-size: 12px;
}
/* section 5 */
.section-5container{
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;


}
.section-5container img{
    width: 33%;
}

/* footer */
footer{
    margin-top: 26px;
    background-color: white;
    padding:25px ;
    text-align: center;
    font-size: 14px;
    color: #878787 ;
    


}
.loginpage{
    background-color: #ddd;
    display: grid;
    place-items: center;
    min-height: 100vh;



}
.container-login{
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
    background-color:white ;
    padding: 1rem;
    max-width: 40rem;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1.3fr;
   
    
}
.left{
    background-color:#2874f0;
    padding: 3rem 2rem;
    background-image:url(https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png);
    background-repeat: no-repeat;
    background-position: center 85%;

}
.right{
    padding: 3rem 2rem 1.8rem;
}

.heading{
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
}
.heading_desc{
    color: #dbdbdb;
    font-size: 1.2rem;
}
.input-group{
    position: relative;
    margin-bottom:1rem ;
}
.input{
    padding: 0.5rem 0;
    border: none;
    width: 100%;
    border-bottom: 2px solid #878787;
    outline: none;
    font-size: 1.1rem;
}
.label{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    color:#878787 ;
    pointer-events: none;
    transform-origin: left;
    transition: transform 0.2s ease;
}
.input::placeholder{
    visibility: hidden;
}
.input:focus ~ label,
.input:not(:placeholder-shown) ~ label{
 transform: translateY(-140%) scale(0.8);

}
.line{
    position: absolute;
    bottom :0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:#2874f0 ;
    transform:scaleX(0);
    transition: transform .4s ease-in-out ;


}
.input:focus ~ .line{
    transform: scaleX(1);
}
a{
    text-decoration: none;
    color: #2874f0;
}
.input-group .link{
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);


}
.input-group .link:hover{
    text-decoration: underline;
}
.para{
  font-size: 0.75rem;  
  margin-top: 2 rem ;
  color: #878787;
}
.btn-login{
   width: 100%; 
   margin-top: 1rem;
   border: none;
   background-color: #fb641b;
   padding: 1rem;
   border-radius: 2px;
   box-shadow: 0 1px 2px 0 rgba(0, 0,0,0.4);
   color: white;
   font-size: 1.025rem;
}
.para-or{
    text-align: center;
    font-size:1.1rem ;
    margin:0.8rem 0;
}
.btn--otp{
    width: 100%; 
    margin-top: 1rem;
    padding: 1rem;
    color:#2874f0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0, 0,0,0.2);
    border-radius: 2px;
    border: none;
   
}
.link2{
   text-align: center; 
}
.link-bottom{
    display: inline-block;
    margin-top: 5rem;
    text-align: center;
    

}